# macOS system files
.DS_Store
# Icon-Dateien (macOS Ordnersymbole)
Icon
**/Icon
**/Icon*



# IntelliJ IDEA
.idea/
*.iml
*.iws

# Java build output
/out/
*/out/
**/out/
*.class

# Backup/swap files
*.save
*.swp
*.swo
*~

# Log files
*.log

